.data-axis path,
.data-axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.data-axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

rect {
    stroke: black;
    shape-rendering: crispEdges;
}
