<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>Index</title>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <script src="http://code.jquery.com/jquery-2.1.1.min.js" charset="utf-8"></script>
  <script src="http://underscorejs.org/underscore-min.js" charset="utf-8"></script>

  <style><%= style %></style>
</head>
<body>

  <p>Scale:
    <select id="scale-selector">
      <option>linear</option>
      <option>log10</option>
    </select>
  </p>

  <script id="json-data" type="application/json" charset="utf-8"><%= json %></script>

  <script type="text/javascript"><%= javascript %></script>
</body>
</html>
